<div class="container">
  <h1><%= @game.name %> Q&A</h1>
  
  <% if @q_and_as.any? %>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Question</th>
          <th>Answer</th>
        </tr>
      </thead>
      <tbody>
        <% @q_and_as.each do |q_and_a| %>
          <tr>
            <td><%= q_and_a.question %></td>
            <td><%= q_and_a.answer %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>There are currently no Q&As for this game.</p>
  <% end %>
</div>
